body {
  font-family: Helvetica;
  text-align: center;
}

.header {
  background-image: url("images/the-flatiron-building.png");
  font-size: 18px;
  color: white;
}

#title {
  font-size: 70px;
  font-weight: bold;
}

h2,
h3 {
  font-wight: bold;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
}

.details {
  font-size: 14px;
}

.NY {
  color: white;
  background-image: url("/Users/Annette/broadway/resources/images/the-flatiron-building.png")
}

.footer {
  text-align: left;
  font-size: 11px;
  color: white;
  background-color: dimgray;
}
